<button (click)="createNewProduct()">Create</button>
<div class="products--grid">
    <app-product
      (addToCart)="addToCart($event)"
      (showProduct)="onShowDetail($event)"
      [product]="product"
      *ngFor="let product of products"></app-product>
      <button (click)="loadMore()">Load More</button>
</div>
<app-product-detail
  [showProductDetail]="showProductDetail"
  [productChosen]="productChosen"
  (closeProductDetail)="toggleProductDetail()"
  (editProduct)="updateProduct()"
  (deleteProductEvent)="deleteProduct()" ></app-product-detail>


