/* You can add global styles to this file, and also import other style files */
@import url(./styles/reset.scss);
@import url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap);

.products--grid{
    app-img{
        max-width: 100%;
        img{
            border-radius: 10px;
        }
    }
}